* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-section {
  height: calc(100vh);
  max-height: 1000px;
}
body{
  /* background-color: rgb(23, 39, 61); */
  background-color: rgb(24, 34, 48);
}
a {
  text-decoration: none;
}
h1 {
  font-family: "Lalezar", cursive !important;
}
h2,
h3 {
  font-family: "Raleway", sans-serif !important;
}
h4,h5,h6{
  font-family: 'Quantico', sans-serif !important; 
}
.MuiButton-outlinedPrimary {
  color: #14a5d3 !important;
  border-color: #14a5d3 !important;
  border-radius: 360px !important;
  font-weight: 600 !important;
  text-transform: none !important;
}
.MuiButton-outlinedPrimary:hover {
  background-color: #14a5d3 !important;
  color: white !important;
}
.timeline-item-dateinner{
  background: rgb(23 39 61) !important;
}
.css-vcfpfv{
  outline: 10px solid rgb(24, 34, 48) !important;
  background-color: rgba(230,230,230) !important;
}
.css-1b3lipl:before{
  background-color: rgba(230,230,230) !important;
}
.css-1jv1kel h3,h4{
  color : rgba(230,230,230) !important;
}
.css-1jv1kel ,div{
  color : #9AAFC7 !important;
}
.MuiDivider-root{
  background: rgba(255,255,255,0.05) !important;
}
.MuiCard-root{
  background: rgba(0,0,0,0.4) !important;
  padding:30px !important;
}
html {
  scroll-behavior: smooth;
}